---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Starfield from "../components/Starfield/Starfield.astro";
import Icon from "../components/Icon/Icon.astro";
import TerminnalText from "../components/TerminnalText/TerminnalText.astro";
import TextGradient from "../components/TextGradient/TextGradient.astro";
import Card from "../components/Card/Card.astro";
import { personal, projects } from "../data/private.json";
import group from "../data/group.json";
import { getCollection } from "astro:content";

const blogs = await getCollection("blogs");
---

<Layout title="Universe-专属博客">
    <Starfield />
    <!-- <Banners /> -->
    <main class="m-auto w-[1200px] max-w-[calc(100%-2rem)] p-4 text-xl">
        <div class="anim relative h-[calc(100vh-6rem)] overflow-hidden">
            <Icon icon="line" class="h-full" />
            <div
                class="absolute left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-1/2 transform"
            >
                <h1
                    class="mb-4 mt-16 text-center text-6xl font-bold leading-none"
                >
                    <TextGradient text="Universe" />
                    <br />
                    <TerminnalText />
                </h1>
            </div>
        </div>

        <div>
            <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8">
                <div class="text-center">
                    <p
                        class="mt-1 text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl lg:text-6xl"
                    >
                        关于我的博客
                    </p>
                    <p
                        class="mx-auto mt-5 text-xl text-gray-500 dark:text-white"
                    >
                        没有什么比时间更具有说服力了，因为时间无需通知我们就可以改变一切
                    </p>
                </div>
            </div>
        </div>

        <div class="sm:py-8">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <dl
                    class="grid grid-cols-2 gap-x-8 gap-y-16 text-center lg:grid-cols-4"
                >
                    <a href="/blog">
                        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                            <dt
                                class="text-base leading-7 text-gray-600 dark:text-[#9CA3AF]"
                            >
                                博客文章收录
                            </dt>
                            <dd
                                class="order-first text-3xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-5xl"
                            >
                                {blogs.length}
                            </dd>
                        </div>
                    </a>
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                        <dt
                            class="text-base leading-7 text-gray-600 dark:text-[#9CA3AF]"
                        >
                            开源项目
                        </dt>
                        <dd
                            class="order-first text-3xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-5xl"
                        >
                            2
                        </dd>
                    </div>
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                        <dt
                            class="text-base leading-7 text-gray-600 dark:text-[#9CA3AF]"
                        >
                            最佳实践
                        </dt>
                        <dd
                            class="order-first text-3xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-5xl"
                        >
                            19
                        </dd>
                    </div>
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                        <dt
                            class="text-base leading-7 text-gray-600 dark:text-[#9CA3AF]"
                        >
                            面试题
                        </dt>
                        <dd
                            class="order-first text-3xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-5xl"
                        >
                            46
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <div
            class="relative isolate overflow-hidden px-6 py-24 sm:py-24 lg:overflow-visible lg:px-0"
        >
            <div
                class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
            >
                <div
                    class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
                >
                    <div class="lg:pr-4">
                        <div class="lg:max-w-lg">
                            <h1
                                class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl"
                            >
                                关于我
                            </h1>
                            <p class="mt-6 text-xl leading-8">
                                作为一位杰出的CV
                                <strong>四年前端工程师</strong>
                                ，具备深厚的技术功底和创造性的思维，专注于打造引人入胜的用户体验。
                                <br />
                                <br />
                                拥有
                                <strong>一年全栈开发经验</strong>
                                ，熟悉JAVA开发流程，对全栈开发有着深刻理解，为项目成功实现提供坚实支持。
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
                >
                    <Image
                        src="/images/github.png"
                        class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
                        alt="descriptive text"
                        width="768"
                        height="100"
                    />
                </div>
                <div
                    class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
                >
                    <div class="lg:pr-4">
                        <div class="max-w-xl text-base leading-7 lg:max-w-lg">
                            <div>
                                <dl class="divide-y divide-gray-100">
                                    {
                                        personal.map(({ label, value }) => (
                                            <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                                <dt class="text-sm font-medium text-gray-900 dark:text-white">
                                                    {label}
                                                </dt>
                                                <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-white sm:col-span-2 sm:mt-0">
                                                    {value}
                                                </dd>
                                            </div>
                                        ))
                                    }
                                </dl>
                            </div>

                            <ul
                                role="list"
                                class="mt-4 space-y-4 text-gray-600"
                            >
                                {
                                    projects.map(({ name, stacks, docs }) => (
                                        <li>
                                            <div class="flex flex-col">
                                                <strong class="font-semibold text-gray-900 dark:text-white">
                                                    {name}
                                                </strong>
                                                <div class="my-2 space-x-2">
                                                    {stacks.map((value) => (
                                                        <span class="inline-flex items-center rounded-md bg-purple-50 px-2 py-1 text-xs font-medium text-purple-700 ring-1 ring-inset ring-purple-700/10">
                                                            {value}
                                                        </span>
                                                    ))}
                                                </div>
                                            </div>
                                            <span class="dark:text-[#9CA3AF]">
                                                {docs}
                                            </span>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul
            role="list"
            class="mx-auto grid grid-cols-1 gap-2 sm:grid-cols-2 md:grid-cols-3"
        >
            {group.map((item) => <Card {...item} />)}
        </ul>
    </main>
</Layout>

<script type="text/javascript">
    var pathEls = document.querySelectorAll("path");
    for (var i = 0; i < pathEls.length; i++) {
        var pathEl = pathEls[i];
        var offset = anime.setDashoffset(pathEl);
        pathEl.setAttribute("stroke-dashoffset", offset);
        anime({
            targets: pathEl,
            strokeDashoffset: [offset, 0],
            duration: anime.random(1000, 3000),
            delay: anime.random(0, 2000),
            loop: true,
            direction: "alternate",
            easing: "easeInOutSine",
            autoplay: true,
        });
    }
</script>
