---
import { getEntry, type CollectionEntry } from "astro:content";
import { format } from "date-fns";
import Avatar from "../Avatar/Avatar.astro";
const {
    slug,
    data: { publishDate, title, image, authors, description, excerpt },
} = Astro.props;

const authorInfos = await Promise.all(
    authors?.map((author: any) => getEntry("authors", author)),
).then((authors) => authors?.filter(Boolean) as CollectionEntry<"authors">[]);
---

<article class="flex gap-8">
    {
        image && (
            <img
                src={image}
                alt=""
                class="radius hidden aspect-square w-64 rounded-2xl bg-gray-50 sm:block"
            />
        )
    }

    <div class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
            <time datetime={publishDate}>
                {format(publishDate, "yyyy-MM-dd")}
            </time>
        </div>
        <div class="group relative">
            <h3
                class="mt-3 text-lg font-semibold leading-6 group-hover:text-[#954EEC]"
            >
                <a href={`/blog/${slug}`}>
                    <span class="absolute inset-0"></span>
                    {title}
                </a>
            </h3>
            <p
                class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600 dark:text-slate-200"
            >
                {description || excerpt}
            </p>
        </div>
        <div class="felx">
            {
                authorInfos?.map((author: any) => {
                    return (
                        <div class="relative mt-8 flex items-center gap-x-4">
                            <Avatar image={author.data.image} lg />
                            <div class="text-sm leading-6">
                                <p class="font-semibold">
                                    <a href={author.data.github}>
                                        <span class="absolute inset-0" />
                                        {author.data.name}
                                    </a>
                                </p>
                                <p class="text-gray-600 dark:text-slate-300">
                                    {author.data.profession}
                                </p>
                            </div>
                        </div>
                    );
                })
            }
        </div>
    </div>
</article>
